body{
  background-color: #6F69AC;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width :5%;
  border-color: #3E2C41  ;
}

img{
  width: 500px;
}

h1{
  color: #95DAC1;
}

h3{
  color: #95DAC1;
}
